<!DOCTYPE html>
<html>
<head>
    <title>XLS Table</title>
	<style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }
  </style>
</head>
<body>
    <table contenteditable>
<!--The contenteditable attribute allows users to edit the contents of the table cells.!-->            
        {% for row in xls_data %}  
<!--creates a new row for each element!-->
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>

